@{
    List<Category> categories = new List<Category>();

    using (ECommerceContext eCommerceContext = new ECommerceContext())
    {
        categories = eCommerceContext.Categories.ToList();
    }
}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">ECommerce</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="@Url.Action("Index", "Home")">AnaSayfa <span class="sr-only">(current)</span></a>
            @{
                foreach (Category category in categories)
                {
                    <a class="nav-item nav-link" href="@Url.Action("Index", "Category", new { id = category.Id })">@category.Name</a>
                }
            }
        </div>
    </div>
</nav>